.faq {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.faq > div {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
}

.faq h3 {
    font-size: 1rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    background: #ffffff;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; /* Remove default margin */
    justify-content: flex-start; /* Align items to the left */
    color: #006AC3;
}

.faq-container {
    margin-bottom: 25px;
}
.faq h3:hover {
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; /* Remove default margin */
    justify-content: flex-start; /* Align items to the left */
}

.faq h3::after {
    content: "⌄";
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    transition: transform 0.1s;
}

.faq h3.active::after {

    transform: rotate(180deg);
}

.faq p {
    display: none;
    padding: 10px;
    background: #fff;
    margin: 0; 
    width: 336px;
}

.faq p:hover {
    display: none;
    padding: 10px;
    background: green;
    margin: 0; 
}
