.travel-description > div > div #how-do-i-choose-the-best-travel-credit-card {
    color: black;
    font-size: 2.5rem;
    font-style: normal;
    font-family: rbc-regular;
    font-weight: 500;
    margin-top: 50px;
}

.travel-description > div > div {
    text-align: center;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.travel-description-wrapper {
    text-align: center;
    justify-content: center; /* Center content horizontally */
    align-items: center;
}

.travel-description > div > div p:first-of-type {
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    color: #727272;
    text-align: left !important;

    width: 75%;
    margin: 0 auto; /* Horizontally center the paragraph */
}

.travel-description > div > div a.button {
    background-color: transparent;
    color: #2071C5;

}


.travel-description > div > div a:hover.button {
    background-color: transparent;
    text-decoration: underline; /* Adds underline to text on hover */


}